# General
*.backup
*.log
/tmp
*.local.*

# Mac
.DS_Store

# ENV
.env
.env.sh

# Editor
.vscode
.idea
*.swp
*.swo
*~

# Tergum
tergum
tergum.exe
tergum-linux-amd64

# Goreleaser
/dist

# Cobra Docs
/cobra-docs
