Meta:
  SchemaVersion: 3
Telemetry:
  CollectBackupLog: true
Backups:
  - ID: example-mysql
    Source:
      Mysql:
        Host: 127.0.0.1
        Port: 13306
        User: root
        Password: root
        Database: default
        MysqldumpExtraArgs:
          - --column-statistics=0
    Targets:
      - ID: filepath
        FilePath:
          Path: tmp/mysql.sql
      - ID: filepath-gzip
        Middlewares:
          - Gzip: {}
        FilePath:
          Path: tmp/mysql.sql.gz
